
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

html {
    position:relative;
    min-height:100%;
}

body {
 background-image: url(../images/intersection.png);
 background-repeat:repeat;
 background-attachment:fixed;
 display:flex;
 flex-direction:column;

}

img {
    width:100%;
    height:auto;
}

h1 {
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:30px;
    font-weight:bold;
    text-align:center;
    padding-top:25px;

}

h1 a {
    color:white;
    text-decoration:none !important;
}

h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:30px;
    font-weight:bold;
}

h3 {
    color:white;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px;
    margin-top: 20px;
}

h4 {
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:20px;
}


p {
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    line-height:22px;
    margin: 2% 0;
}

.bold {
    font-weight: bold;
}


/* Header and Navigation */

header {
 background-color:#ffffff;
 border-bottom: 2px solid #cccccc;
 width:100%;
}

.navbar {
    padding: 0;
    background-color:white;
}

.bg-light {
    background-color:white !important;
}

.nav-link {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    text-decoration:none;
    color:#777777;
    padding: 0 .5rem;
    border-right: 1px solid #777777 !important;
    height: 20px;
}


.name {
    background-color:#4aaaa5;
    max-width:45%;
    height: auto;
    margin:0;
    padding:1%;
    display:inline-block;
    color:white !important;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:10%;
    position:relative;
    font-weight:bold;
    text-align:center;
    
}

.name a {
    color:white !important;
    padding-left:4%;
    
}


.nav-item:last-child a.nav-link {
    padding-right:0;
    border-right: none !important;
}


.headwrap {
    width:80% !important;
    height:auto;
    margin: 0 auto;
    padding:0;

}

.headwrap:after{
    content:"";
    display:block;
    clear:both;
}

/* General Body Styling */

.container {
    background-color:#ffffff;
    margin: 2% auto 9% auto;
    padding:5%;
    border: 1px solid #cccccc;
    width:80%;
   /* flex: 1 0 auto;*/
}

.sectionTitle{
    width:100%;
    border-bottom:2px solid #cccccc;
}

.sectionContent {
    width:100%;
    padding: 2% 0;
}

#aboutImage {
    display: inline;
    margin: 2%;
    width:33%;
    height:auto;
    float: left;
}


/* About Me Section Styling */

#aboutimg {
    width:30%;
}

/* Contact Page Form */

form {
    margin-top: 1%;
}

input {
    width:99%;
    display:block;
    margin: 1% 0;
    line-height:25px;
}

input::after{
    content:"";
    display:block;
    clear:both;
}

.message {
    min-height:140px;
}

input[type=submit] {
    background-color:#4aaaa5;
    color:white;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    width:100px;

}

label {
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
}


/* Portfolio Formatting */

.portfolioLabel {
    background-color:#4aaaa5;
    height: auto;
    width:100%;
    position:relative;
    bottom:3em;
    padding:2%;
    text-align:center;
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:25px;
    font-weight:bold;
}

.img-fluid {
    border: 1px solid #cccccc;
}

.portfoliodiv{
    margin: 4% auto;
}

.portfoliodiv a {
    text-decoration:none !important;
}

/* Footer */

footer {
    border-top: solid 5px #4aaaa5;
    background-color:#666666;
    color:white;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align:center;
    display:block;
    height:auto;
    position:absolute;
    bottom:0;
    width:100%;
}

/*
/* ------------------------------------------ 991 Media Query----------------------------------------*/
@media only screen and (max-width: 991px){

.nav-link {
    border:none !important;}
    
}

